<!DOCTYPE html>
<html lang="en">

<head>
    <title>Concert App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
<div class="container mt-5">
    {{#sweet}}
    <h1>Edit Sweet</h1>
    <h2>Current name: <b>{{name}}</b></h2>
    <form method="post" action="/sweet/edit" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{id}}"/>
        <div class="form-group">
            <input type="text" class="form-control" name="name" value="{{name}}" placeholder="Enter name"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="developerName" value="{{developerName}}" placeholder="Enter developer name"/>
        </div>
        <div class="form-group">
            <input type="text" class="datepicker" data-date-format="mm-dd-yyyy" name="shelfLife" value="{{shelfLife}}"
                   placeholder="Enter date name"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit Sweet</button>
        </div>
    </form>
    {{/sweet}}

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $(".datepicker").datepicker();
    });
</script>
</body>
</html>